@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	/* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-heading;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.container {
		margin: 0 auto;
		max-width: 1440px;
		@apply px-3 lg:px-5;
	}

	a {
		text-decoration: none;
		@apply text-sky-500 hover:text-sky-700 transition duration-300;
	}

	img {
		@apply transition duration-300;
	}
}

.text-gradient-blue {
	@apply bg-gradient-to-tr from-blue-500 to-sky-300 bg-clip-text text-transparent;
}

.text-gradient {
	@apply animate-text bg-gradient-to-r from-teal-500 via-purple-500 to-orange-500 
  bg-clip-text text-transparent;
}

.page-title {
	@apply capitalize py-5 text-2xl md:text-3xl lg:text-4xl mx-auto text-center text-gradient;
}

.post-detail a {
	@apply text-sky-500 no-underline hover:text-sky-600;
}

.sidebar {
}

.sidebar .block {
	@apply rounded-lg border bg-white overflow-hidden;
}

.sidebar .block .block-title {
	@apply px-5 py-2 border-b text-gray-700 text-lg bg-gradient-to-r from-gray-50 to-gray-100;
}

.sidebar .block .block-content {
	@apply px-3 lg:px-4;
}

.sidebar .block .block-content a {
	@apply text-gray-700;
}

.footer-col h3 {
	@apply text-lg pb-3;
}

.footer-col li,
.footer-col .category {
	@apply text-gray-500 border-none pt-0 pb-2;
}

.footer-col a {
	@apply text-gray-700 hover:text-gray-800;
}

.alink {
	@apply relative pb-1;
}
.alink:after {
	content: "";
	@apply absolute left-0 bottom-0 w-0 transition-all duration-300  h-[1px] bg-slate-700;
}

.alink:hover::after {
	@apply w-full;
}

.post-card .post-content {
	opacity: 1;
	/* transform: scale(1); */
	transition: all 0.5s ease-in-out;
}

.post-card.out-of-screen .post-content {
	opacity: 0.8;
	transform: scale(0.95);
}

.post-detail .type-poetry {
	text-align: center;
}

.post-detail .post-content h1,
.post-detail .post-content h2,
.post-detail .post-content h3,
.post-detail .post-content h4 {
	@apply font-inter;
}

.post-detail .type-poetry .post-content p {
	margin: 0 auto 10px auto;
	@apply font-script text-2xl @lg:text-3xl @2xl:text-4xl;
}

.post-detail .type-poetry p:nth-child(4n + 1) {
	margin-bottom: 40px;
}

.homepage section h3,
.homepage section .section-title {
	@apply mt-0 mb-2 lg:mb-5 text-2xl lg:text-3xl 2xl:text-4xl;
	/* padding: 20px; */
}
.homepage section:nth-child(2n + 1) {
	background-color: rgb(226 232 240);
}

.prose {
	/* --tw-prose-pre-bg: transparent; */
}

.prose pre {
	/* padding: 0; */
}

.prose .hljs {
	background-color: inherit;
}
